/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <120>;
    flavor = "tap-preferred";
};

/ {
    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(C)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(V)>;
            label = "PASTE";
        };

        newterminal: newterminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(GRAVE))>;
            label = "NEWTERMINAL";
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(Z)>;
            label = "UNDO";
        };

        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(RG(Z))>;
            label = "REDO";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(X)>;
            label = "CUT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        KeyBoard {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                              &kp N6  &kp N7       &kp N8             &kp N9   &kp N0             &kp F12
&kp TAB    &kp Q        &kp W        &mt LG(F) F  &kp P        &kp G                               &kp J   &kp L        &kp U              &kp Y    &mt LG(SEMI) SEMI  &kp BSLH
&kp LGUI   &mt LG(A) A  &kp R        &kp S        &mt LG(T) T  &mt LG(D) D                         &kp H   &mt LG(N) N  &kp E              &kp I    &kp O              &kp APOS
&kp LSHFT  &mt LG(Z) Z  &mt LG(X) X  &mt RG(C) C  &mt LG(V) V  &kp B        &to 2        &to 2     &kp K   &kp M        &kp COMMA          &kp DOT  &kp FSLH           &kp LEFT_SHIFT
                                     &kp LGUI     &kp LALT     &kp SPACE    &kp ENTER    &kp BSPC  &mo 1   &kp MINUS    &mt CAPSLOCK PLUS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                            &kp N6  &kp N7    &kp N8        &kp N9     &kp N0  &kp MINUS
&none      &none   &none   &none     &none     &none                             &none   &none     &kp UP_ARROW  &none      &none   &none
&kp LGUI   &none   &cut    &copy     &paste    &none                             &none   &kp LEFT  &kp DOWN      &kp RIGHT  &none   &none
&kp LSHFT  &none   &none   &undo     &redo     &none      &none        &none     &none   &none     &none         &none      &none   &none
                           &kp LGUI  &kp LALT  &kp SPACE  &kp ENTER    &kp BSPC  &to 0   &none     &none
            >;
        };

        layer_2 {
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4    &kp F5    &kp F6                            &kp F7           &kp F8  &kp F9   &kp F10  &kp F11    &kp F12
&none      &none   &none   &none     &none     &none                             &kp KP_ASTERISK  &kp N7  &kp N8   &kp N9   &kp FSLH   &none
&kp LGUI   &none   &cut    &copy     &paste    &none                             &kp PLUS         &kp N4  &kp N5   &kp N6   &kp MINUS  &none
&kp LSHFT  &none   &none   &undo     &redo     &none      &to 0        &to 0     &none            &kp N1  &kp N2   &kp N3   &kp EQUAL  &none
                           &kp LGUI  &kp LALT  &kp SPACE  &kp ENTER    &kp BSPC  &mo 1            &kp N0  &kp DOT
            >;
        };
    };
};
